# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js
.next/    # For Next.js
out/     # For Next.js
dist/    # For Vite, Parcel, etc.
build/   # For Create React App, etc.

# TypeScript
*.tsbuildinfo

# Editors
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.tgz
.cache
.temp
.tmp

# Vite specific
.vite/